---
layout: default
---

{% include hero.html %}
		<!-- Main -->
			<div id="main">
				<div class="box containter">
					<header>
						<h2 class="major wow bounceInDown">/* Quick Info */</h2>
					</header>
					<div class="row">
						<div class="col-lg-3 wow bounceInLeft">
							<h3>//What?</h3>
							<p rel="description"><b>{{ site.event.description }}</b></p>
						</div>
						<div class="col-lg-3 wow bounceInLeft">
							<h3>//Where?</h3>
							<p rel="location"><b>{{site.event.location}}</b></p>
						</div>
						<div class="col-lg-3 wow bounceInRight">
							<h3>//When?</h3>
							<p rel="date"><b>{{site.event.date}}</b></p>
						</div>
						<div class="col-lg-3 wow bounceInRight">
							<h3>//Interested?</h3>
							<p><b>{% for link in site.event.hero.links %}
								{% if link.my_mlh %}
									<a class="apply button" href="{{link.my_mlh.redirect_uri}}">{{ link.text }}</a>
								{% endif %}
							{% endfor %}</b></p>
						</div>
					</div>
				</div>

				<header class="major container 75% wow bounceInDown">
					<h2>{{ site.event.about.description }}</h2>
				</header>

				<div class="box alt container">
		      {% for section in site.event.info.sections %}
						{% if section.isRight %}
							<section class="feature left">
								<a href="#" class="wow bounceInLeft image icon {{section.icon}}"><img src="{{section.image}}" alt="" /></a>
								<div class="content wow bounceInRight">
						{% else %}
							<section class="feature right">
								<!-- icon fa-code -->
								<a href="#" class="image icon wow bounceInRight {{section.icon}}"><img src="{{section.image}}" alt="" /></a>
								<div class="content wow bounceInLeft">
						{% endif %}
									<h3>{{section.title}}</h3>
									<p>{{section.description | markdownify }}</p>
								</div>
							</section>
		      {% endfor %}
				</div>

				<div class="box container">
					<section>
							<header class="wow bounceInDown">
								<h2>Schedule</h2>
							</header>
							{% if site.event.schedule_ready %}
								{% for day in site.event.schedule%}
									<header class="wow bounceInDown">
										<h3>{{day.title}}</h3>
									</header>
									<div class="table-wrapper">
										<table class="default">
											<thead>
												<tr>
													<th class="wow bounceInDown">Time</th>
													<th class="wow bounceInDown">Activities</th>
												</tr>
											</thead>
											<tbody>
												{% for event in day.events %}
													<tr>
														<td class="wow bounceInDown">{{event.time}}</td>
														<td class="wow bounceInDown">{{event.activity}}</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								{% endfor %}
							{% else %}
								<center><p>TBD</p><center>
							{% endif %}
					</section>
					<section class="special">
						<header class="wow bounceInDown">
							<h2>Sponsors/Affiliates</h2>
						</header>
						<section>
							<center>
								<!-- <h3 class="wow bounceInDown">{{site.event.sponsor.affiliate.title}}</h3> -->
								<div class="row container-fluid">
									{% for affiliate in site.event.sponsor.affiliate.affiliates %}
											<div class="col-xs-6">
												<img class="image logo wow fadeInDown" src="{{affiliate.logo}}" />
											</div>
									{% endfor %}
								</div>
							</center>
							<center>
								<!-- <h3 class="wow bounceInDown">{{site.event.sponsor.platinum.title}}</h3> -->
								<div class="row container-fluid">
									{% for sponsor in site.event.sponsor.platinum.sponsors %}
											<div class="col-xs-12">
												<img class="image logo wow wow bounceInDown" src="{{sponsor.logo}}"/>
											</div>
									{% endfor %}
								</div>
							</center>
							<center>
								<!-- <h3 class="wow bounceInDown">{{site.event.sponsor.gold.title}}</h3> -->
								<div class="row container-fluid">
									{% for sponsor in site.event.sponsor.gold.sponsors %}
											<div class="col-xs-6">
												<img class="image logo wow fadeInDown" src="{{sponsor.logo}}"/>
											</div>
									{% endfor %}
								</div>
							</center>
							<center>
								<!-- <h3 class="wow bounceInDown">{{site.event.sponsor.silver.title}}</h3> -->
								<div class="row container-fluid">
									{% for sponsor in site.event.sponsor.silver.sponsors %}
											<div class="col-xs-4">
												<img class="image logo wow fadeInDown" src="{{sponsor.logo}}"/>
											</div>
									{% endfor %}
								</div>
							</center>
							<center>
								<!-- <h3 class="wow bounceInDown">{{site.event.sponsor.bronze.title}}</h3> -->
								<div class="row container-fluid">
									{% for sponsor in site.event.sponsor.bronze.sponsors %}
											<div class="col-xs-3">
												<img class="image logo wow fadeInDown" src="{{sponsor.logo}}"/>
											</div>
									{% endfor %}
								</div>
							</center>
						</section>
						<center>
							{% for link in site.event.hero.links %}
			          {% if link.href %}
			            <a class="button" href="{{ link.href }}">{{ link.text }}</a>
			          {% endif %}
			        {% endfor %}
						</center>
					</section>
					<section class="special">
						<header class="wow bounceInDown">
							<h2>FAQ</h2>
						</header>
						{% for item in site.event.faq %}
							<center class="wow bounceInDown" >
								<h5>{{ item.question }}</h5>
								<p >{{ item.answer | markdownify }}</p>
							</center>
						{% endfor %}
					</section>
				</div>

				<footer class="major container 75%  wow bounceIn">
					<h3>What are you waiting for?</h3>
					<ul class="actions">
						<li>{% for link in site.event.hero.links %}
		          {% if link.my_mlh %}
		            <a class="apply button" href="{{link.my_mlh.redirect_uri}}">{{ link.text }}</a>
		          {% endif %}
		        {% endfor %}</li>
					</ul>
				</footer>

			</div>

		<!-- Footer -->
			<div id="footer">
				<div class="container 75%">

					<header class="major last wow bounceInDown">
						<h2>Questions or comments?</h2>
					</header>

					<form class="wow bounceInDown" method="post" action="https://formspree.io/contact@hackwit.us">
						<div class="row">
							<div class="6u 12u(mobilep)">
								<input type="text" name="name" placeholder="Name" />
							</div>
							<div class="6u 12u(mobilep)">
								<input type="email" name="_replyto" placeholder="Email" />
							</div>
						</div>
						<div class="row">
							<div class="12u">
								<textarea name="message" placeholder="Message" rows="6"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="12u">
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</div>
						</div>
					</form>

					<ul class="icons">
						<li><a href="https://twitter.com/hackwitus" class="icon fa-twitter wow bounceInLeft"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/events/168910336929881/" class="icon fa-facebook wow bounceInLeft"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram wow bounceInRight"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-github wow bounceInRight"><span class="label">Github</span></a></li>
					</ul>

				</div>
			</div>

			<!-- <section>
				<header>
					<h3>Unordered List</h3>
				</header>
				<ul class="default">
					<li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
					<li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
					<li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
					<li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
				</ul>
			</section> -->
			<!-- <section>
				<header>
					<h3>Ordered List</h3>
				</header>
				<ol class="default">
					<li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
					<li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
					<li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
					<li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
				</ol>
			</section> -->
			<!-- <section>
				<header>
					<h3>Form</h3>
				</header>
				<form method="post" action="#">
					<div class="row">
						<div class="6u 12u(mobilep)">
							<label for="name">Name</label>
							<input class="text" type="text" name="name" id="name" value="" placeholder="John Doe" />
						</div>
						<div class="6u 12u(mobilep)">
							<label for="email">Email</label>
							<input class="text" type="text" name="email" id="email" value="" placeholder="johndoe@domain.tld" />
						</div>
					</div>
					<div class="row">
						<div class="12u">
							<label for="subject">Subject</label>
							<input class="text" type="text" name="subject" id="subject" value="" placeholder="Enter your subject" />
						</div>
					</div>
					<div class="row">
						<div class="12u">
							<label for="subject">Message</label>
							<textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="12u">
							<ul class="actions">
								<li><input type="submit" value="Send" /></li>
								<li><input type="reset" value="Reset" class="alt" /></li>
							</ul>
						</div>
					</div>
				</form>
			</section> -->

			<!-- <header>
				<h2>A lot of generic stuff</h2>
			</header> -->
			<!-- <section>
				<header>
					<h3>Blockquote</h3>
				</header>
				<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget.
				tempus euismod. Vestibulum ante ipsum primis in faucibus.</blockquote>
			</section> -->
			<!--
			<p>Tellus erat mauris ipsum fermentum<br />
			etiam vivamus nunc nibh morbi.</p>
			-->
