*{font-family: 'Roboto', sans-serif;}

@font-face {
  font-family: "Simplifica";
  src: url(https://dl.dropbox.com/s/q0aufqei4eiqxub/SIMPLIFICA%20Typeface.ttf);
}
.header{
  text-align: center;
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  margin: auto;
}
body, html {
  margin: 0;
  background-color: rgb(200,200,200) !important;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  text-align: center;
}

h4{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.description{
  font-style: italic;
}


form {
  padding: 20px 0;
  margin: 30px 10%;
  background-color: rgb(222,222,222);
  border-radius: 10px;
}

textarea:focus, input:focus{
    outline: none;
}

input{
  border: none;
  border-bottom: 1px solid black;
}

input:focus{
  border-bottom: 2px solid blue;
}

input[type="text"], input[type="email"] {
  width: 50%;
}

input[type="tel"], input[type="date"] {
  height: 30px;
  margin-left: 5px;
}

input[type="url"], input[type="file"], input[type="text"], input[type="email"] {
  height: 30px;
  width: 40%;
  margin-left: 5px;
}

input[type="reset"], input[type="submit"] {
  border-radius: 100px;
  border: none;
  font-family: "QuickSand";
  font-size: 20px;

  left: 0;
  right: 0;
  bottom: 10%;
  width: 14%;
  min-width: 200px;
  height: 6rem;
}
label{
  margin-left: 5px;
  margin-right: 10px;
}
label:focus{
  color: blue;
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  border-radius: 50%;
  top: 5px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #40e0d0;
}
.option-input:checked::before {
  height: 20px;
  width: 20px;
  text-align: center;
}
.option-input:checked::after {
  background: #40e0d0;
  position: relative;
}


input[type="submit"] {
  background-color: #F76C6C;
  color: white;
}

input[type="reset"] {
  background-color: #fffbfb;
}

.input, .resumeInput, .inlineInput {
  background-color: white;
  width: 70%;
  border-radius: 3px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px auto;
  padding: 10px 0;
}

.inlineInput {
  justify-content: center;
  align-items: center;
  margin: 7px auto;
  padding: 10px 0;

}

.compressedInput{
  margin-left: 10px;
  margin-right: 10px;
}


.link{
  font-size: 14px;
}
i {
  width: 20px;
}

textarea {
  width: 70%;
  max-width: 70%;
  height: 100px;
  border: none;
  border-radius: 3px;
}

.required {
  color: red;
}

#warning {
  color: red;
}

@media screen and (max-width: 768px) {
  form {
    margin: 0;
    border-radius: 0;
  }

  .input, .wrapper, .resumeInput {
    width: 90%;
  }

  a{
    font-size: 10px !important;
  }

}
